<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<property name="LOG_PATTERN" value="%-3level [%d{yyyy-MM-dd HH:mm:ss.SSS}] %logger{5} - %msg %n" />

	<!-- FILE Appender (오직 com.ubivelox.iccard 로그를 위해 사용) -->
	<!--ICARD 전용 파일 appender -->
	<appender name="ICCARD" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./cas_logs/iccard.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./cas_logs/iccard_%d{yyyyMMdd}_%i.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- Console Appender (루트 레벨은 콘솔만 출력) -->
	<appender name="STDOUTLIB" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<!-- com.ubivelox.iccard 패키지 전용 로거: 파일과 콘솔 모두 기록하되 additivity=false 로 루트 중복 방지 -->
	<logger name="com.ubivelox.iccard" level="INFO" additivity="false">
		<appender-ref ref="ICCARD"/>
		<appender-ref ref="STDOUTLIB"/>
	</logger>

	<!-- 다른 패키지는 콘솔(또는 필요시 더 높은 레벨)만 기록 -->
<!--	<root level="WARN">-->
<!--		<appender-ref ref="STDOUTLIB" />-->
<!--	</root>-->

</configuration>